<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agregar Ingreso / Egreso</h4>
                <p class="card-description">
                    Especifique el monto y el tipo
                </p>

                <form>

                    <div class="form-group">
                        <label class="mb-2">Descripción</label>
                        <input type="text" class="form-control" placeholder="Descripción" name="descripcion">
                    </div>

                    <div class="form-group">
                        <label class="mb-2">Monto</label>
                        <input type="number" class="form-control" placeholder="Monto" name="monto">
                        <p class="mt-2">
                            Debe de ser un monto positivo
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <br>

                        <div class="display-center flex-wrap gap-12">
                            <button type="button" class="btn btn-primary btn-block max-width-300 m-0">Ingreso</button>
                            <button type="button" class="btn btn-warning btn-block max-width-300 m-0">Egreso</button>
                        </div>
                    </div>

                    <hr>

                    <div class="display-center flex-wrap gap-12">


                        <button type="button" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Agregar
                        </button>
    
                        <!-- 
                            <button disabled class="btn btn-success mr-2">
                            <i class="fa fa-spin fa-sync"></i>
                            Espere por favor...
                            </button> 
                        -->
    
                        <button type="reset" class="btn btn-light">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>