<div class="page-body-wrapper full-page-wrapper auth-page bg-black">
    <div class="content-wrapper d-flex justify-content-center align-items-center auth registro-bg theme-one p-0">
        <div class="div-login-form" >
            <h1 class="text-center mb-4 text-white">Registro</h1>
            <div class="auto-form-wrapper wrapper-custom-register max-height-500 scroll-y">
                <form [formGroup]="registroForm" (ngSubmit)="crearUsuario()">

                    <div class="form-group margin-bottom-2">
                        <label 
                            class="label font-size-14"
                            [class.custom-focus-label]="focusUsuario"
                            (focus)="focusUsuario=true"
                            (blur)="focusUsuario=false"
                        >
                            Usuario
                        </label>
                        <div class="input-group">
                            <input 
                                type="text" 
                                class="form-control custom-control-login" 
                                placeholder="Nombre"
                                formControlName="nombre"
                                (focus)="focusUsuario=true"
                                (blur)="focusUsuario=false"
                            >
                            <div class="input-group-append bg-transparent">
                                <span 
                                    class="input-group-text custom-control-login"
                                    [class.custom-focus-login]="focusUsuario"
                                >
                                    <i [class]="getClassIconInput('nombre')"></i>
                                </span>
                            </div>
                        </div>
                        <span class="font-size-14 color-red fw-bold"> {{getErrorMsg('nombre')}} </span>
                    </div>

                    <div class="form-group margin-bottom-2">
                        <label 
                            class="label font-size-14"
                            [class.custom-focus-label]="focusEmail"
                            (focus)="focusEmail=true"
                            (blur)="focusEmail=false"
                        >
                            Correo
                        </label>
                        <div class="input-group">
                            <input 
                                type="email" 
                                class="form-control custom-control-login" 
                                placeholder="correo@gmail.com"
                                formControlName="correo"
                                (focus)="focusEmail=true"
                                (blur)="focusEmail=false"
                            >
                            <div class="input-group-append bg-transparent">
                                <span 
                                    class="input-group-text custom-control-login"
                                    [class.custom-focus-login]="focusEmail"
                                >
                                    <i [class]="getClassIconInput('correo')"></i>
                                </span>
                            </div>
                        </div>
                        <span class="font-size-14 color-red fw-bold"> {{getErrorMsg('correo')}} </span>
                    </div>

                    <div class="form-group margin-bottom-2">
                        <label 
                            class="label font-size-14 position-relative"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            data-bs-title="La contraseña debe contener mínimo 8 caractéres, al menos una letra mayúscula, una letra minúscula y un número."
                            data-bs-custom-class="custom-tooltip-gray"
                            [class.custom-focus-label]="focusPassword"
                            (focus)="focusPassword=true"
                            (blur)="focusPassword=false"
                        >
                            Contraseña
                            <i class="fa-solid fa-circle-info color-green position-absolute icon-info"></i>
                        </label>
                        <div class="input-group">
                            <input 
                                type="password" 
                                class="form-control custom-control-login" 
                                placeholder="*********" 
                                autocomplete="nope"
                                formControlName="password"
                                (focus)="focusPassword=true"
                                (blur)="focusPassword=false"
                            >
                            <div 
                                class="input-group-append bg-transparent"
                            >
                                <span 
                                    class="input-group-text custom-control-login" 
                                    [class.custom-focus-login]="focusPassword"
                                >
                                    <i [class]="getClassIconInput('password')"></i>
                              </span>
                            </div>
                        </div>
                        <span class="font-size-14 color-red fw-bold"> {{getErrorMsg('password')}} </span>
                    </div>
                    <div class="form-group">
                        <button 
                            type="submit"
                            class="btn-login-bg" 
                            [disabled]="registroForm.invalid || cargando"
                        >
                            <div class="display-center gap-2">
                                @if (cargando) {
                                    <div class="spinner-border text-light custom-spinner-login" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                } @else {
                                    <i class="fa-solid fa-plus"></i>
                                    <span class="fw-bold">Crear cuenta</span>
                                }
                            </div>
                        </button>
                    </div>


                    <div class="text-block text-center">
                        <span class="text-small font-weight-semibold">¿Tienes una cuenta? </span>
                        <br>
                        <a [routerLink]="['/auth/login']" class="text-white text-small">Iniciar sesión</a>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>


